
  @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;

}
body{
    background-color: hsl(0, 0%, 95%);
    padding: 10%;
    margin-top: 80px;
   
}
.cards_container{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.card{
    max-width: 270px;
    min-width: 220px;
    background-color: hsl(31, 77%, 52%);
    padding: 38px;
    
}
.card:nth-child(2){
    background-color:hsl(184, 100%, 22%);

}
.card:nth-child(3){
    background-color: hsl(179, 100%, 13%);
}
.card h3{
    color:hsl(0, 0%, 95%) ;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.8em;
    padding: 20px;



}
.card p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.0em;
    padding: 6px;




}
.card_btn{
    margin-top: 70px;
    padding: 12px 20px 12px 20px;
    font-size: .7em;
    border-radius: 20px;
    outline: none;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(31, 77%, 52%);

}
.card_btn.one{
    color: hsl(31, 77%, 52%);

}
.card_btn.two{
    color:hsl(184, 100%, 22%);

}
.card_btn.three{
    color: hsl(179, 100%, 13%);

}

.card button:hover{
    border: 1px solid #fff;
    color:  hsla(0, 0%, 100%, 0.75);
    background-color: transparent;
}